header.main-header(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")
	.main-header__block.l-container
		.main-logo
			a.main-logo-link(href="https://starttec.co")
				.header-logo
		.main-header__mobile#main-header__mobile
			.hamburger-bar
		nav.main-menu#main-menu
			.main-header__middle
				ul.menu--middle#item
					li.menu__item
						a.menu__link(href="#services") Qué hacemos
					li.menu__item
						a.menu__link(href="#process") Cómo lo hacemos
					li.menu__item
						a.menu__link(href="#projects") Projectos
			.main-header__social
				ul.menu--social
					li.menu--social__item
						a.menu--social__link(href="https://twitter.com/holastarttec" target="_blank")
							svg.menu--social__logo
								use(xlink:href="assets/img/social-icons.svg#twitter-de-starttec" width="19.19" height='19.19')
					li.menu--social__item
						a.menu--social__link(href="https://twitter.com/holastarttec" target="_blank")
							svg.menu--social__logo
								use(xlink:href="assets/img/social-icons.svg#instagram-de-starttec" width="19.19" height='19.19')
					li.menu--social__item
						a.menu--social__link(href="https://twitter.com/holastarttec" target="_blank")
							svg.menu--social__logo
								use(xlink:href="assets/img/social-icons.svg#linkedin-de-starttec" width="19.19" height='19.19')
			.theme
				input(type="checkbox" name="theme" id="check" class="check-theme")
