extends ../../config/template
append config
	-pageTitle = 'Comics'
	-pageDescription = pageDescription
	-pageImage = ''

block main
	h1 Estas en comics.
	include ../../includes/buttons
	//- include	header

