-let pageTitle = 'Home'
-let siteName = 'Marvel Heroes Api'
-let twitterAccount = ''
-let pageDescription = 'Developed by David Rivadeneyra'
-let pageImage = ''
-
	let pages = [
		{
		title: 'hole',
		url: '/',
		child: []
		},
		{
		title: 'About',
		url: 'about.html',
		child: [
			{
			title: 'Subitem1',
			url: 'subitem1.html'
			},
			{
			title: 'Subitem2',
			url: 'subitem2.html'
			}
		]
		}
	]
