@mixin from($bp) {
    @if map-has-key($breakpoints, $bp) {
        @media screen and (min-width: map-get($breakpoints, $bp )) {
            @content;
        }
    } @else {
        @media screen and (min-width: $bp) {
            @content;
        }
    }
    
}

@mixin ratio($w, $h)	{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat($w, minmax(300px, 1fr));
    grid-template-rows: repeat($h, 1fr);
    position: relative;

    &::before	{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}